/* Custom CSS for APL fonts */
code, pre {
  font-family: "APL385 Unicode", "Fira Code", "Courier New", monospace;
}

.apl-code {
  font-family: "APL385 Unicode", monospace;
}

@font-face {
	font-family: APL;
	src: local("APL385 Unicode"), url("../assets/apl385.ttf");
}

